.notification-low {
  opacity: 0.7;
}

.notification-critical {
  border-left: 2px solid red;
}

.notification-collapsed {
  opacity: 0.85;
}

.notification-collapsed-preview {
  padding: 2px 8px 6px 8px;
  opacity: 0.6;
}

.notification-group {
  border-radius: 8px;
}

timer-border {
  color: rgb(98, 221, 255);
}